{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true,
        "parserOpts": {
          "strictMode": true,
          "jsx": "",
        }
      }
    ],
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "48",
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": []
}